@{
    ViewData["Title"] = "Film";
}
@model List<Film>

<div class="text-center">
    <h1 class="display-4">Kino List</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Entry No.</th>
                <th>Title</th>
                <th>Director</th>
                <th>Year</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var film in Model)
                {
                    <tr>
                        <td>@film.Id</td>
                        <td>@film.Title</td>
                        <td>@film.Director</td>
                        <td>@film.Year</td>
                        <td>@film.Rate/10</td>
                        <td>
                            <a asp-action="CreateEdit" asp-route-id="@film.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@film.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
